*.a
*.app
*.dll
*.dylib
*.elf
*.exe
*.gch
*.hex
*.i*86
*.ko
*.la
*.lib
*.lo
*.log
*.o
*.obj
*.out
*.pch
*.scan
*.so
*.so.*
*.status
*.tar.gz
*.tar.bz2
*.x86_64
*~
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux
config.h
config.h.in
configure
example_read
example_write
libtool
m4
regression
stamp-h1
